@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
.fondo {
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/egresadosss.JPG");
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
  background-attachment: fixed;
}

.fondo_quince {
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/fondoquince.jpg");
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
  background-attachment: fixed;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #10221b;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #f2f2f2;
  font-weight: bolder;
  text-decoration: none;
}
.header .logo i {
  color: #219150;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.9rem;
  color: #f2f2f2;
  text-decoration: none;
}
.header .navbar a:hover {
  color: yellow;
}
.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #f2f2f2;
  display: none;
}
.header .icons a, .header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #f2f2f2;
}
.header .icons a:hover, .header .icons div:hover {
  color: #2d3b40;
}
.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}
.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}
.search-form #close-search:hover {
  color: #219150;
}
.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.search-form form input::-webkit-input-placeholder, .search-form form input:-ms-input-placeholder, .search-form form input::-ms-input-placeholder, .search-form form input::placeholder {
  color: #aaa;
}
.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.search-form form label:hover {
  color: #219150;
}

.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/Inicio.jpg");
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/inicio2.jpg");
}
.home .box.tercer {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/inicio3.jpg");
}
.home.box.tercer span {
  color: yellow;
}
.home .box.cuarto {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/quienessomos.jpg");
}
.home .box.quinto {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/servicios2.jpg");
}
.home .box.sexto {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/servicios3.jpg");
}
.home .box.septimo {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/contacto.jpg");
}
.home .box .content {
  width: 50rem;
}
.home .box .content span {
  font-size: 4rem;
  color: #f2f2f2;
}
.home .box .content h3 {
  font-size: 5rem;
  color: yellow;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.home .box .content p {
  line-height: 2;
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.about .content h3 {
  font-size: 3rem;
  color: #2d3b40;
}
.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages {
  background: #eee;
}
.packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(32rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.packages .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.packages .box:hover {
  background: #2d3b40;
}
.packages .box:hover .content > * {
  color: #fff;
}
.packages .box:hover .btn {
  border-color: #fff;
}
.packages .box:hover .btn:hover {
  background: yellow;
  color: black;
}
.packages .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.packages .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}
.packages .box .content {
  padding: 2rem;
}
.packages .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.packages .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.packages .box .content .price {
  font-size: 2rem;
  color: #f2f2f2;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: 0.5rem;
  background: #fff;
}
.services .box-container .box:hover {
  background: #10221b;
}
.services .box-container .box:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.services .box-container .box:hover p {
  color: #fff;
}
.services .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}
.services .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}
.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.services .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}
.services .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .slide .text::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: #f2f2f2;
}

.reviews .slide .user span {
  color: #219150;
  font-size: 1.5rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(25rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box h3{
font-size: 1.5rem;
color: #f2f2f2;
}

.footer .box-container .box a i {
  color: yellow;
  padding-right: 0.5rem;
}
.footer .box-container .box a:hover {
  color: yellow;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}
.footer .credit span {
  color: yellow;
}

@media screen and (max-width: 1000px){
  .tabla{
      width: 45%;
      max-width:none;
      margin-bottom: 40px;
      flex-grow: initial;
  }
}

@media screen and (max-width: 700px){
  .tabla{
      width: 45%;
      padding:30px;
  }
  .tabla > h2{
      margin-top:40px;
  }
  
  }


@media screen and (max-width:550px){
  .tabla{
      width: 85%;
      padding: 20px;
      display: inline-block;
  }
  .promo h2 {
    width: 3rem;
    display: block;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.second {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.tercer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.cuarto {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.quinto {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.sexto {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box.septimo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid black;
  color: black;
  cursor: pointer;
  background: #f2f2f2;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 20px;
}
.btn:hover {
  background: yellow;
  color: black;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #2d3b40;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #f2f2f2;
}

.box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(29rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.box-container.box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.box-container.box h3 {
  font-size: 2rem;
  color: #219150;
}
.box-container.box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

form {
  width: 45rem;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
}
form h2 {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-width: 200px;
  max-width: 100%;
}

.galeria h2 {
  font-size: 5rem;
  text-align: center;
}

/*---Tabla de promociones promo 23 ---*/
.contenedor{
  width: 90%;
  max-width:900px;
  margin: auto;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20rem;
}

.tabla{
  width: 33%;
  height: 550px;
  margin: auto;
  border:1px solid #343759;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px  #343759;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #343759;
  display: inline-block;
}

.tabla>h2{
  font-size:40px;
  margin-bottom:35px;
  color: #f2f2f2;
}

.tabla img{
  width: 100px;
  margin-bottom:35px;
}

.tabla > h3{
  font-size:0px;
  margin-bottom: 20px;
  color: #f2f2f2
}

.tabla > p {
  display: block;
  margin-bottom:40px;
  font-size: 1.5rem;
  color:#f2f2f2
}
 .tabla span {
  background-color: black;
  border-radius: 10px;
 }

.boton{
  display:inline-block;
  width: 150px;
  padding:12px;
  background: yellow;
  text-decoration: none;
  color: #343759;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}
.tabla:hover {
  background: #343759;
  color: #f1f1f2;
  transition: .5s all;
  transform: scale(1.1);
  cursor: pointer;
}

.promo h2 {
  font-size: 5rem;
  text-align: center;
  padding-top: 100px;
  color: #f2f2f2;
  
}
.galeria h2 {
  font-size: 5rem;
  text-align: center;
}
/*# sourceMappingURL=estilo.css.map */
