html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  
    &::-webkit-scrollbar {
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track {
      background: #fff;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #10221b;
    }
  }